.list-wrapper {
	width: 80%;
	margin: 0 auto 30px;
	position: relative;
	box-shadow: 0 0 15px 0 #66ccff;
	border-radius: 15px;
}

.more-disk a:hover,
.more-disk a[now] {
	background-color: #339999;
	color: white;
}

.operate ul {
	position: absolute;
	display: none;
	background: #66ccff;
	border: 0px #f7f7f7 solid;
	border-radius: 5px;
	margin: -7px 0 0 0;
	padding: 0 7px;
	color: #205D67;
	z-index: 1;
}

.markdown-body {
	padding: 5px;
	text-align: left
}